@font-face {
    font-family: "Acme";
    src: url(/assets/fonts/Acme.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

footer, header {
    background-color: rgb(115, 115, 115);
    display: block;
    color: aliceblue;
}

h1 {
    color: rgb(175, 181, 23);
    font-family: "Acme";
    font-size: 3rem;
    text-align: left;
    letter-spacing: 5px;
    padding: 0px 0 0 20px;
}

.flexbox,
.grid,
.absolute,
.onglets {
  border: 0px solid rgb(0, 0, 0);
  border-radius: 0px;
  padding: 0px;
  margin-top: 0px;
  min-height: 0px;
}

.onglets a {
    text-decoration: none;
}

/* FLEXBOX */
/* Sert a répartir équitablement des éléments sur la page */
.flexbox ul {
  display: flex;
  list-style: none;
  align-items: end;
  width: 100%;
}

.flexbox .onglets li {
  height: 30px;
  width: 120px;
  padding: 0;
  margin: 20px 20px 20px 20px ;
  background: rgb(201, 201, 201);
  /* Centrer un unique élément verticalement et horizontalement */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
    background: #1f1f1f;
    color: aliceblue;
    min-width: 150px;
    min-height: 650px;
}

.right {
    background: #1f1f1f;
    color: aliceblue;
    min-width: 150px;
    min-height: 650px;
}

.right {
    justify-content: end;
}

main {
    display: flex;


}

section {
    flex-grow: 1;
}