/* Style pour le tableau */
table {
    border-collapse: collapse;
    width: 100%; /* Largeur totale du tableau */
}

/* Style pour les en-têtes */
th {
    color: azure;
    background-color: rgb(55, 55, 55);
    padding: 0.3rem;
    text-align: center;
    border: 2px solid #b4b4b4;
}

/* Style pour les cellules */
td {
    padding: 0.3rem;
    border: 2px solid #b4b4b4;
}

/* Définir une largeur minimale pour les colonnes */
td, th {
    min-width: 10px; /* Changer la valeur selon votre préférence */
}